body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
  }
  
body::before {
  	background-image: url('/static/images/steve_johnson.jpg');
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	z-index: -2;    
	opacity: 0.3;
}
  .homecontent {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  .content {
    display: flex;
	flex-direction: row;	
	justify-content: space-around;
	align-items: top;
	  
  }
  
  .personal {
    display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	margin-top: 100px;
	color: black;
	  
  }
   
    
  .container {
	position: relative;
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	justify-content: top;	
    text-align: center;
    background-color: AliceBlue;
    width: 600px;
	height: 480px;
    border: 1px black;
    border-width: 4px;
    margin-top: 100px;	
  }  
 
  .info {
    color: red;
  } 

  h1 { 
    font-family: none;
    color: darkslategray;
    display: block;
    font-size: 22px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

  h2 {
    font-size: 3em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
  }
   
  h3 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: black;
  }

form input#yourmail {
  height: 25px;
  width: 400px;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 5px;
  font-size: 18px;
  margin: 3px;
}
 
form input#subject {
  height: 25px;
  width: 400px;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 5px;
  font-size: 18px;
  margin: 3px;
}

form textarea#mess {
  height: 85px;
  width: 400px;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 5px;
  font-size: 18px; 
  margin: 3px;
}
 
form input#submit {
  height:30px;
  width:100px;
  margin: auto;
  display: -webkit-box;
  -webkit-border-radius: 3px; 
     -moz-border-radius: 3px;
          border-radius: 3px;
  border:1px solid #d8d8d8;
  padding: 3px; 
  font-weight:bold; 
  font-size:16px;
  text-align: center; 
  color: #000000; 
  background-color: #f4f4f4;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -moz-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -ms-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -o-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: linear-gradient(top, #f4f4f4, #e5e5e5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f4f4, endColorstr=#e5e5e5);
}
 
form input#submit:hover{
  cursor: pointer;
  border:1px solid #c1c1c1; 
  background-color: #dbdbdb;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdbdb), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -moz-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -ms-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -o-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: linear-gradient(top, #dbdbdb, #cccccc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dbdbdb, endColorstr=#cccccc);
}

.submitcontainer {
  position: absolute;
  width: 70px;
  height: 30px;
  left: 265px;
  bottom: 120px;  
}

.sclass {
  position: absolute;
  height: 30px;
  width: 70px;
  top: 0px;
  right: 0px;
}

.submitimg {
  position: absolute;
  width: 70px;
  height: 30px;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;  
}

.img {
  width: 15px;
  height:15px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
   }
 }

.forbidden:hover {
  cursor: not-allowed;
}

.infobutton {
  position: relative;
  display: inline-block;
  height: 18px;
  width: 18px;
  font-size: 14px;  
  background-color: Red;
  color: white;
  border: 2px solid Red;
  border-radius: 50px;  
}

.infobutton:hover {  
  background-color: Tomato;
}

.infobutton .infotext {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 166%;
  width: 150px;
  height: 110px;  
  background-color: Tomato;
  color: white;
  text-align: center;
  padding: 5px 5px 5px 5px;
  border-radius: 0px 6px 6px 6px;
}

.infobutton .infotext::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;  
  border-color: Tomato Tomato transparent transparent;
}

.infobutton:hover .infotext{
  visibility: visible;
}

#dist1 {
	height: 16px;
}

#dist2 {
	height: 55px;
}

.distcontainer {
	height: 26px;
}

/* Message flashing */
.flash {
    /* background-color: #FBB0B0; */
	background-color: red;
	color: white;
	padding: 2px;	
    width: 400px;    
    margin-top: 2px;
	margin-bottom: 2px;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
  }