<!DOCTYPE html>
<html>

<head>
  <title>John Doe</title>
  <link rel="stylesheet" href="/static/css/main.css"> 
</head>

<body>
  <div class="content">
  <div class="personal">  
    <img src="/static/images/icons8_customer.png" alt="icon depicting a person" style="width:200px;height:200px;">
	<h3>John Doe, Machine Learning Enthusiast</h3>
	<ul>
         <li>some info about John</li>
         <li>some more info</li>
         <li>yet more info</li>
    </ul>
  </div>
  <div class="container">
    <h1>
      <center>Send John an AI moderated message  <div class="infobutton">i<span class="infotext">Messages classified as toxic will be blocked. Submission of more than 2 such messenges will result in disabling of the email function.</span></div></center>
    </h1>

    {% block content %}
	{% for message in form.yourmail.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
	
	{% for message in form.subject.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
	
    {% for message in form.mess.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}        

    <form method=post id="myform" action="/jsresponse">
	
	  {{ form.yourmail.label }}
      {{ form.yourmail }}
	
	  {{ form.subject.label }}
      {{ form.subject }}
	  
      {{ form.mess.label }} 
      {{ form.mess }}
      <div class="submitcontainer">
      {{ form.submit(class_="sclass")}}
	  <div class="submitimg" id="submitimgid"><img src="/static/images/loading1.webp" alt="loading spinner" class="img" id="myimage"></div>
	  </div>
    </form>
    {% endblock %}
    <p id="filler"></p>
    <p class="info" id="feed"></p>
	<!-- <center> -->
    <!-- <div id="smallprint"></div> -->
	<!-- </center> -->  
  
  </div>
  </div>
 
<script type="text/javascript">

var attempts = 3;
var sb = document.getElementById("sbn");
var image = document.getElementById("submitimgid");

function hideLoading() {
  image.style.visibility = "hidden";
  sb.value = "Submit";
}

document.getElementById("myform").addEventListener("submit", function(e){
  e.preventDefault();
  let form = document.getElementById("myform");
  let formData = new FormData(form);
  sb.value = "";
  image.style.visibility = "visible";
  fetch("/jsresponse", 
         {method: "post",
          body: formData
         })    		 
    .then((response) => {
      image.style.visibility = "hidden";
      sb.value = "Submit";	
      return response.json();	  
    })	
	.then((myJson) => {
	  document.getElementById("feed").style.color = myJson.color;
      document.getElementById("feed").innerHTML = myJson.feedback;	  
	  if (myJson.result === 1){	    
		attempts-= 1;
	  }      
      if (attempts < 1){
	    sb.setAttribute('disabled', 'disabled');
		sb.classList.add('forbidden');
        /*document.getElementById("disableinfo").innerHTML = "You have sent 3 messages classified as toxic. Email function disabled.";*/		
      }    	  
    })
  document.getElementById("myform").reset();
  document.getElementById("feed").innerHTML = ""; 
})
</script>
</body>
</html>